{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto" hx-swap-oob="true">
  <head>
    {% block title %}<title>Mesa Rapida | Entrar</title>{% endblock title %}
    {% include "includes/head.html" %}
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    {% include "includes/color_mode.html" %}
    <main class="form-signin w-100 mt-5 mb-5 m-auto">
      <form method="POST"> {% csrf_token %}
        <img class="mb-3" src="{% static 'img/brand/apple-touch-icon.png'%}" alt="Mesa Rapida logo" width="72" height="72">
        <h1 class="h3 mb-3 fw-normal">Mesa Rápida</h1>
      <!-- Messages -->
       {% include "partials/messages.html" %}
        <div class="form-floating">
          <input name="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required>
          <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
          <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
          <label for="floatingPassword">Senha</label>
        </div>

        <div class="form-check text-start my-3">
          <input class="form-check-input" type="checkbox" value="true" name="remember" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Remember me
          </label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">Entrar</button>
        <p class="mt-5 mb-3 text-body-secondary">&copy; Mesa Rápida - 2024</p>
      </form>
    </main>
    <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}" defer></script>
  </body>
</html>