{% load humanize %}
{% if user.groups.last.name == 'Waiter' %}
{% for product in products %}
<div class="col">
  <div class="card my-3">
    {% if product.food_image %}
    <img src="{{ product.food_image.image.url }}" class="card-img-top" alt="Imagem do Produto" width="100%" height="250">
    {% else %}
    <svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false">
      <title>Placeholder</title>
      <rect width="100%" height="100%" fill="#868e96"></rect>
      <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
    </svg>
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text text-break">{{ product.description }}</p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-outline-danger rounded-pill" type="button">Pedir</button>
        <button class="btn btn-light rounded-start-pill disabled fw-bold" type="button">R$ {{ product.price|floatformat:2|intcomma }}</button>
      </div>
    </div>
    <div class="card-footer">
      {% if product.category.get_ancestors %}
        {% for category in product.category.get_ancestors %} 
          <span class="badge rounded-pill text-bg-light">
            {{ category }}
          </span>
        {% endfor %}
      {% else %}
      {% endif %}
      {% if product.category %}
        <span class="badge rounded-pill text-bg-light">
          {{ product.category.name }}
        </span>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
{% endif %}