{% load humanize %}
{% if user.groups.last.name == 'Waiter' %}
{% for product in products %}
  <div class="card mb-2 px-2 m-2 flex-fill" style="max-width: 385px; height: 100%; cursor: pointer;"
    hx-get="{% url 'product-detail' product.id %}"
    hx-target="#productDetail"
    hx-trigger="click">
    <div class="row g-0 align-items-center">
      <div class="col-9 py-1">
        <div class="card-body p-0">
          <p class="card-title fw-medium mb-0">{{ product.name|truncatechars:25 }}</p>
          <p class="card-text text-body-secondary lh-sm mb-0">
            {{ product.description|linebreaksbr|truncatechars:50 }}
          </p>
          <p class="card-text"><small class="text-body-dark">R$ {{ product.price|floatformat:2|intcomma }}</small></p>
        </div>
      </div>
      <div class="col-3 d-flex justify-content-end align-items-center">
        {% if product.food_image.thumbnail %}
          <img src="{{ product.food_image.thumbnail.url }}" class="card-img w-auto my-1 py-1 rounded" style="height: 80px !important; width: 80px !important; object-fit: cover;"  alt="Imagem do Produto">
        {% else %}
          <img src="{{ product.food_image.image.url }}" class="card-img w-auto my-1 py-1 rounded" style="height: 80px !important; width: 80px !important; object-fit: cover;"  alt="Imagem do Produto">
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}