{% load static %}
  <script src="{% static "bootstrap/js/bootstrap.bundle.min.js" %}" defer></script>
  <script src="{% static "js/offcanvas-navbar.js" %}" defer></script>
  <script>
    document.body.addEventListener("htmx:configRequest", (event) => {
        event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
    });

    const toggleSide = () => {
      // Responsible to toggle offcanvas
      const button = document.getElementById('navbarSideCollapse')
      button.click()
    }
  </script>
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/jquery.mask.min.js" %}"></script>
  <script src="{% static "js/cropper.min.js" %}"></script>
  <script defer type="module" src="{% static "js/main.js" %}"></script>