{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="{% static "js/color-modes.js" %}"></script>
    {% include "includes/head.html" %}
  </head>
  <body>
    <!-- Dark/Light mode -->
    {% include "includes/color_mode.html" %}
    <!-- Offcanvas Navbar -->
    {% include "includes/offcanvas-navbar.html" %}
    <main class="d-flex flex-nowrap">
      <!-- Content -->
      <div class="container-fluid" id="target" hx-swap-oob="true">
        {% block content %}
        {% include "partials/cards.html" %}
        {% endblock content %}
      </div>
    </main>
    {% block scripts %}
    {% include "includes/scripts.html" %}
    {% endblock scripts %}
  </body>
</html>